.navbar{
height:60px;
border-bottom:1px solid #1e293b;
display:flex;
justify-content:flex-end;
align-items:center;
padding:0 20px;
}

.nav-right{
display:flex;
align-items:center;
gap:20px;
}

.avatar{
background:#7c3aed;
width:35px;
height:35px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
}